
body{
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
	color: #000000;
}
.wrapper{
	width: 100%;
}
header{
	background: url(https://raw.githubusercontent.com/moed/moed.github.io/master/week5/background4.jpg) no-repeat center center fixed;	width: 100%;
	height: 100vh;
	width: 100%;
}

h1{
	font-size: 6em;
	font-family: 'Philosoper', serif;
	font-weight: 400;
	color: #76CCC4;
	padding: 30px;
	
}
p{
	font-size: 24px;
	font-style: italic; 
/*	margin: 4em 0em;*/
	color: #000000;
	font-weight: 400;
	line-height: 30px;
	width: 500px;
}
nav{
	width: 5em;
	height: 5em;
	font-size: 24px;
	font-weight: 700;
	display: inline;
}
/* unvisited link */
li a:link{
    color: #DAEDED;
    text-decoration: none;
 /*   background-color: #272559;*/
/*    padding: 10px;*/
    display: inline;
}

/* visited link */
li a:visited{
    color: #DAEDED;
    text-decoration: none;
}

/* mouse over link */
li a:hover {
    color: rgba(255, 160, 84, .8);
    text-decoration: none;

}

/* selected link */
li a:active {
    color: #76CCC4;
    text-decoration: none;
}
h2{
	font-size: 40px;
	font-family: 'Philosoper', serif;
/*	text-align: left;
	padding: 1em 0em;*/
	margin: 20px;
	color: #DAEDED;
}
#unicorns{
	height: 100vh;
	width:100%;
	padding:100px;
	background-color: rgba(103, 178, 172, .8);
/*	clear: both;*/
}
.column{
		width: 50%;
		height: 50%;
		float: left;
		padding: 30px;

}
#care{
	height: 100vh;
	padding: 100px;
	background-color: rgba(251, 113, 95, .8);
}

h3{
	margin: 5em;
	font-family: 'Philosoper', serif;
	font-size: 40px;
}
#About-us{
	background: url(https://raw.githubusercontent.com/moed/moed.github.io/master/week5/background4.jpg) no-repeat center fixed;
	background-size: cover;
	height: 1000px;
	padding: 100px;
/*	margin: 5em 0em;*/
}
h3 a:link{
    color: rgba(251, 113, 95, .8);
    text-decoration: none;
/*    display: inline;*/
}

/* visited link */
h3 a:visited{
    color: rgba(251, 113, 95, .8);
    text-decoration: none;
}

/* mouse over link */
h3 a:hover {
    color: rgba(255, 160, 84, .8);
    text-decoration: none;

}

/* selected link */
h3 a:active {
    color: #76CCC4;
    text-decoration: none;
}
