body{
	font-size: 16px;
	font-family: 'Lora', serif;
	background: #FEFFE5;
}
#landing{
	background: url(https://raw.githubusercontent.com/moed/moed.github.io/master/week9/barsofsoap.jpg) no-repeat center center;
/*	background-size: cover;*/
/*	width: 80%;
	height: 80vh;*/
}
nav{
	text-decoration: none;
	font-size: 1em;
/*	width: 50%;*/
	margin: 10em 0em;
}

h1{
	font-size: 4em;
	font-style: bold;
	color: #3B43FF;
}
.wrapper{
	
	background: #FEFFE5;
	width: 100%;
/*	height: 100vh;*/
}
aside{
	background-color: #7F5E6B;
	width: 25%;
	height: 100vh;
	position: fixed;
}
h3{
	font-size: 1em;
	font-style: bold;
}
/*nav{
	font-size: 1.5em;
	position: fixed;

}*/
article{
	font-size: 1em;
/*	float: left;*/
	width: 25%;
	position: center;
}
#soaps{
/*	float: left;*/
	position: center;
	width: 50%;
}
.column{
	height: 75vh;
	width: 75%;
	position: center;
}
.contact{
	background: #FFD7B1 cover;
/*	height: 100vh;*/
	width: 80%;
}
ul{
	position: center;
	font-size: 2em;
}
li{
	display: block;
	padding: 2em;
	background-color: #FEFFE5;
/*	color: #3B43FF; */
}