body{
	font-size: 16px;
	font-family: 'Lora', serif;
	background: #FEFFE5;
}
#landing{
	background: url(https://raw.githubusercontent.com/moed/moed.github.io/master/week9/barsofsoap.jpg) no-repeat center center fixed;
/*	background-size: cover;*/
	width: 80%;
	height: 400px;
	margin: 0 auto;
}
nav{
	text-decoration: none;
	font-size: 1em;
	width: 50%;
	margin: 1em auto;
}
li{
	display: inline-block;
	margin: 1em;
}

h1{
	font-size: 4em;
	font-style: bold;
	color: #3B43FF;
	margin: 1.5em auto;
	text-align: center;
}
.wrapper{
	background: #FEFFE5;
	width: 80%;
	margin: 0 auto;
/*	height: 100vh;*/
}
aside{
	background-color: #7F5E6B;
	width: 25%;
	height: 100%;
	position: fixed;
}
h3{
	font-size: 1.5em;
	font-style: bold;
}
/*nav{
	font-size: 1.5em;
	position: fixed;

}*/
article{
	font-size: 1em;
/*	float: left;*/
	width: 33.33%;
	position: center;
	margin: 5em 0;
}
h2{
	font-size: 2em;
	margin: 1em 0;
}
p{
	font-size: 1em;
	line-height: 1.618em;
}
#soaps{
/*	float: left;*/
	position: center;
	width: 50%;
}
.column{
	height: 75vh;
	width: 75%;
	position: center;
}
footer{
	background: #FFD7B1;
/*	height: 100vh;*/
	width: 80%;
}
ul{
	position: center;
	font-size: 2em;
}
