body{
	font-family: "lucinda sans"
    background: black;
    color: white;
}
h1{
    font-style: bold;
    font-size: 60px;
}
div{
    
}
#title_bg{
    background-image: url("springs2.jpg");
    background-position: fill;
    background-repeat: no-repeat;
    height: 800px;
}
/*#title{
    width: 620px;
    background-color: blue;
    padding: 100;*/
}
#slogan{
    font-style: italic;
}
    



