body{
	font-family: helvetica;
    background: black;
    color: white;
}
h1{
    font-style: bold;
    font-size: 80px;
    font-family: "brush script std"; 
}
div{
    
}
#title_bg{
    background-image: url("springs2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    margin: auto;
}
#title{
    width: 620px;
    /*background-color: blue;*/
    padding: 200;
}
#slogan{
    font-style: italic;
}
    



