body{
	font: Georgia;
	color: Purple;
	font-size: 18px;
}
h1{
	margin: 0 auto;
	font-size: 48px;
}
p{
	margin: 0 auto;
}
ul{
	font-size: 24px;
	margin: 0 auto;
}
h2{
	margin: 0 auto;
	font-size: 32px;
}
h3{
	margin: 0 auto;
	font-size: 30px;
}
