body{
	font: Georgia;
	font-size: 18px;
}
header{
	background-image: url(https://raw.githubusercontent.com/moed/moed.github.io/master/week5/background2.jpg);
}
h1{
	margin: 0 auto;
	font-size: 64px;
}
p{
	margin: 0 auto;
}
li{
	font-size: 24px;
	margin: 0 auto;
	display: inline;
}
h2{
	margin: 0 auto;
	font-size: 32px;
}
h3{
	margin: 0 auto;
	font-size: 30px;
}
